{% extends 'base.html' %}

{% block header %}
    <h1>{{ test }}</h1>
{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Test info</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Description</td>
                        <td>{{ test.description }}</td>
                      </tr>
                      <tr>
                        <td>Num of questions</td>
                        <td>{{ test.questions.count }}</td>
                      </tr>
                      <tr>
                        <td>Num of runs</td>
                        <td>{{ test.results.count }}</td>
                      </tr>
                      <tr>
                        <td>Best result</td>
                        <td> {{ test.get_best_result }}</td>
                      </tr>
                      <tr>
                        <td>User with the best result</td>
                        <td> {{ test.get_best_user }}</td>
                      </tr>
                      <tr>
                        <td>Last run</td>
                        <td> {{ test.last_run }} </td>
                      </tr>
                      <tr>
                        <td>Current open test result</td>
                        <td>N/A</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-sm">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle p-1 m-1" width="350" height="350"  src="{{ test.image.url }}">
                </div>
                {% if test.has_unfinished_run %}
{#                    <div class="d-flex justify-content-center mt-5 mb-5" >#}
{#                            <a href="{% url 'quizes:start' id=test.id %}" type="button" class="btn-lg btn-warning">CONTINUE ▶️</a>#}
{#                    </div>#}

                    <form action="{% url 'quizes:continue_run' test.uuid test.current_run.uuid %}" method="post" class="d-flex justify-content-center mt-5 mb-5" >
                        {% csrf_token %}
                        <input type="submit" class="btn-lg btn-warning" value="CONTINUE ▶">
{#                        <div>#}
{#                            <a href="{% url ':start' id=test.id %}" type="button" class="btn-lg btn-success">START ▶️</a>#}
{#                        </div>#}

                    </form>


                {% else %}
                    <form action="{% url 'quizes:create_run' test.uuid %}" method="post" class="d-flex justify-content-center mt-5 mb-5" >
                        {% csrf_token %}
                        <input type="submit" class="btn-lg btn-success" value="START ▶">
{#                        <div>#}
{#                            <a href="{% url 'quizes:start' id=test.id %}" type="button" class="btn-lg btn-success">START ▶️</a>#}
{#                        </div>#}

                    </form>
                {% endif %}

            </div>
{##}
{#        <table class="table table-hover" style="width:100%">#}
{#            <thead class="thead-dark">#}
{#            <tr>#}
{#                <th>#</th>#}
{#                <th>User</th>#}
{#                <th>Started</th>#}
{#                <th>Time spent</th>#}
{#                <th>Points</th>#}
{#            </tr>#}
{#            </thead>#}
{##}
{#            {% for result in test.test_results.all %}#}
{#            {% for result in test_results %}#}
{##}
{#                <tr>#}
{#                   <td>{{ forloop.counter}}</td>#}
{#                   <td>{{ result.user.username }}</td>#}
{#                   <td>{{ result.write_date }}</td>#}
{#                   <td>{{ result.time_spent }}</td>#}
{#                   <td>{{ result.points }}</td>#}
{#                </tr>#}
{##}
{#            {% endfor %}#}
{#        </table>#}

        </div>

    </div>

{% endblock %}
