{% extends 'base.html' %}
{% load static %}

{% block header %}
    <h1>Test list</h1>
{% endblock %}

{% block main %}
    {% if tests %}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Description</th>
{#                  <th>Level</th>#}
                  <th></th>
                </tr>
            </thead>

            {% for test in tests %}
                <tr>
                    <td><img class="rounded-circle p-1 m-1" width="150" height="150"  src="{{ test.image.url }}"></td>
                    <td> {{ test.title }}</td>
                    <td> {{ test.description }}</td>
<!--{#                    <td> {{ test.get_level_display }}</td>#}-->
<!--{#                    <td> <img src="{% static 'testify/levels/' %}{{ test.get_level_display }}.png" height="30px" width="40px"/> </td>#}-->
                    <td> <a href="{% url 'quizes:details' uuid=test.uuid %}">DETAILS</a></td>
                </tr>
            {% endfor %}
        </table>

        <div class="p-1 m-1">
            {% include 'includes/paginator.html' %}
        </div>
    {% else %}
        <p>No tests yet :(</p>
    {% endif %}

{% endblock %}
