{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <h1>Log in</h1>
{% endblock %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <div class="mt-3">
            <input class="btn btn-success" type="submit" value="Log in">
            <a class="btn btn-light" href="{% url 'index' %}">Home</a>
        </div>
    </form>
{% endblock %}
