{% extends 'base.html' %}
{% load static %}

{% block header %}
    <h1>Leaderboard</h1>
{% endblock %}

{% block main %}

    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Full name</th>
            <th>Rating</th>
        </tr>

        {% for u in users %}

              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ u.full_name }}</td>
                <td>{{ u.rating }}</td>
              </tr>

        {% endfor %}

    </table>


{% endblock %}